div{
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius:  5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h2{
    text-align: center;
    font-weight: bold;
    font-family: system-ui;
    letter-spacing: 2px;
}

form {
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 8px;
    font-family: system-ui;
    font-weight: bold;
    letter-spacing: 1px;
}

input{
    padding: 7px;
    /* margin-bottom: 15px; */
    border-radius: 9px;
    border: none;
    height: 35px;
    border: solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 60px;
    font-size: 20px;
   
}

button:hover {
    background-color: #77f47c;
}